


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="emptytemplate.css" />

</head>

<body>
<div id="wrapper">
	<div id="header"></div>
	<div id= "under_header_line">

	</div>
	<div id="leftcolumn">

	</div>
	<div id="rightcolumn">

	</div>
	<div id="container">
		<div id=centercolumn>

		</div>
	   <div id="in_centercolumn_1"></div>
	   <div id="in_centercolumn_2"></div>
	   <div id="in_centercolumn_3"></div>
	</div>
	
</div>

<div id=prefooter></div>
<div id=footer></div>
</body>
</html>